        .background {
            z-index: -1;
            margin: 0;
            padding: 0;
            overflow: hidden;
            color: white;
            text-align: center;
            background-image: url('sterne.avif');
            background-size: cover;
            background-position: center;
            /*animation: zoom 20s infinite alternate;*/
            height: 100%;
            width: 100%;
            position: fixed;
            top: 0;
            left: 0;
        }

        .erde {
            border-radius: 5em;
            float: left;
        }

        .absatz {
            font-size: 2em;
            margin:1em;
            float:left;
        }

        footer.absatz {
            display: block;
            bottom: 1em;
            background-color: rgb(246, 35, 35);
            padding: 1em;
            border: 2px solid rgba(50, 37, 37, 0);
            border-radius: 0.5em;
            font-family:'Courier New', Courier, monospace;
            font-size:5em;
        }

        footer a {
            color: rgb(3, 3, 189);
            text-decoration: none;


        }